<ion-view view-title="Статус">
	<ion-content>
		<ion-list>
			<ion-item class="item-divider">Заданий за сегодня</ion-item>
			<ion-item class="item-icon-left">
				Получено <span class="badge badge-assertive">5</span>
			</ion-item>
			<ion-item class="item-icon-left">
				Выполнено <span class="badge badge-assertive">0</span>
			</ion-item>
		</ion-list>

		<ion-list>
			<ion-item class="item-divider">Заданий за Месяц</ion-item>
			<ion-item class="item-icon-left">
				Получено <span class="badge badge-assertive">45</span>
			</ion-item>
			<ion-item class="item-icon-left">
				Выполнено <span class="badge badge-assertive">10</span>
			</ion-item>
		</ion-list>

	</ion-content>
</ion-view>
