<ion-view view-title="задачи">
    <ion-content>
        <ion-refresher pulling-text="Updating data" on-refresh="refresh()"></ion-refresher>
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="order in orders" type="item-text-wrap"
                      href="#/tab/orders/{{order.id}}">

                <h2>{{order.name}}</h2>

                <p><a ng-href="tel:{{order.phone}}">{{order.phone}}</a></p>
                <span class="badge badge-assertive">{{order.time}}</span>
                <ion-option-button class="button-assertive" ng-click="remove(order)">Пометить выполненым
                </ion-option-button>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
